@import "sass/normalize.scss";
@include normalize();

$bgColor: #D6E6D6;
$divColor: rgba(76, 175, 80, 0.3);
$textBlockColor: #569756;
$maxW: 95%;
$font: 'Inconsolata', monospace;

body {
  font-family: $font;
}

h1, h6 {
  margin: 0 auto;
  text-align: center;
}

h3 {
  @extend h1;
  @media (max-width: 500px) {
    font-size: .5em;
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

span {
  display: inline-block;
}

// .moveList {
//   @media (max-width: 500px) {
//     // margin-left: -10px;
//   }
// }

.centerText {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
}

.nav {
  background: $divColor;
  width: 100%;
  text-align: center;
}

.flexContainer {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
}

.mainArticles {
  font-size: 1em;
  padding: 10px;
  margin: 4px;
  width: 100%;
  flex: 1 0 100px;
}

.parent {
  margin: 0 auto;
  width: 60%;
}

.imageGrid {
  width: 80%;
  @extend .flexContainer;
}

.child {
  flex: 1 0 50%;
  min-width: 10rem;
}

.footer {
  @extend .nav;
  padding: 5px;
}

#slider {
  margin: 0 auto;
  padding: 0;
  width: 70%;
  @media (max-width: 500px) {
    width: 100%;
  }
}

.highlight {
  font-weight: bold;
}

.shadow {
  -moz-box-shadow: inset 0 0 10px $divColor, 0 0 5px $divColor;
  -webkit-box-shadow: inset 0 0 10px $divColor, 0 0 5px $divColor;
  box-shadow: inset 0 0 10px $divColor, 0 0 5px $divColor;
  border-radius: 2px;
  background: $divColor;
}
